In [1]:
import pandas as pd
import numpy as np
from config import Password
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
contract_data = pd.read_csv("Resources/nba_salaries2019.csv")
print(contract_data)

      Rk             Player   Tm       2019-20       2020-21       2021-22  \
0      1      Stephen Curry  GSW  $40,231,758   $43,006,362   $45,780,966
1      2         Chris Paul  OKC  $38,506,482   $41,358,814   $44,211,146
2      3  Russell Westbrook  HOU  $38,178,000   $41,006,000   $43,848,000
3      4          John Wall  WAS  $37,800,000   $40,824,000   $43,848,000
4      5       James Harden  HOU  $37,800,000   $40,824,000   $43,848,000
..   ...                ...  ...           ...           ...           ...
563  564     William Howard  UTA      $50,000            NaN           NaN
564  565      Isaiah Taylor  TOR      $50,000            NaN           NaN
565  566        Tyler Lydon  SAC      $50,000            NaN           NaN
566  567    Hollis Thompson  SAC      $50,000            NaN           NaN
567  568         Tyler Ulis  SAC      $50,000            NaN           NaN

          2022-23 2023-24 2024-25 Signed Using     Guaranteed
0             NaN     NaN     NaN  Bird Rights  $129,019,086
1             NaN     NaN     NaN  Bird Rights   $79,865,296
2    $46,662,000      NaN     NaN  Bird Rights  $123,032,000
3    $46,872,000      NaN     NaN  Bird Rights  $122,472,000
4    $46,872,000      NaN     NaN  Bird Rights  $122,472,000
..            ...     ...     ...          ...            ...
563           NaN     NaN     NaN          NaN       $50,000
564           NaN     NaN     NaN          NaN       $50,000
565           NaN     NaN     NaN          NaN       $50,000
566           NaN     NaN     NaN          NaN       $50,000
567           NaN     NaN     NaN          NaN       $50,000

[568 rows x 11 columns]

In [3]:
player_contract = contract_data[["Player", "Tm", "2019-20"]]
player_contract

                Player   Tm       2019-20
0        Stephen Curry  GSW  $40,231,758
1           Chris Paul  OKC  $38,506,482
2    Russell Westbrook  HOU  $38,178,000
3            John Wall  WAS  $37,800,000
4         James Harden  HOU  $37,800,000
..                 ...  ...           ...
563     William Howard  UTA      $50,000
564      Isaiah Taylor  TOR      $50,000
565        Tyler Lydon  SAC      $50,000
566    Hollis Thompson  SAC      $50,000
567         Tyler Ulis  SAC      $50,000

[568 rows x 3 columns]

In [4]:
player_contract.rename(columns={"2019-20": "Yr2019_20"}, inplace=True)
player_contract

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                Player   Tm     Yr2019_20
0        Stephen Curry  GSW  $40,231,758
1           Chris Paul  OKC  $38,506,482
2    Russell Westbrook  HOU  $38,178,000
3            John Wall  WAS  $37,800,000
4         James Harden  HOU  $37,800,000
..                 ...  ...           ...
563     William Howard  UTA      $50,000
564      Isaiah Taylor  TOR      $50,000
565        Tyler Lydon  SAC      $50,000
566    Hollis Thompson  SAC      $50,000
567         Tyler Ulis  SAC      $50,000

[568 rows x 3 columns]

In [5]:
player_contract.to_csv("Resources/Salary_clean.csv")

In [6]:
player_data = pd.read_csv("Resources/player_stats.csv")

player_data

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander,PF,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
648,527,Tyler Zeller,C,30,SAS,2,0,4,1,4,...,NaN,3,1,4,0,0,0,0,0,2
649,528,Ante Žižić,C,23,CLE,22,0,221,41,72,...,0.737,18,48,66,6,7,5,10,27,96
650,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

In [7]:
player_data.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [8]:
player_stats = player_data[["Player", "Pos", "Tm","Age","AST", "STL" , "BLK", "PTS", "FG", "FGA"]]
player_stats.to_csv("Resources/stat2019_clean.csv")

In [9]:
player_stats

                       Player Pos   Tm  Age  AST  STL  BLK   PTS   FG   FGA
0                Steven Adams   C  OKC   26  146   51   67   684  283   478
1                 Bam Adebayo  PF  MIA   22  368   82   93  1146  440   790
2           LaMarcus Aldridge   C  SAS   34  129   36   87  1001  391   793
3              Kyle Alexander  PF  MIA   23    0    0    0     2    1     2
4    Nickeil Alexander-Walker  SG  NOP   21   89   17    8   267   98   266
..                        ...  ..  ...  ...  ...  ...  ...   ...  ...   ...
646                Trae Young  PG  ATL   21  560   65    8  1778  546  1249
647               Cody Zeller   C  CHO   27   88   40   25   642  251   479
648              Tyler Zeller   C  SAS   30    0    0    0     2    1     4
649                Ante Žižić   C  CLE   23    6    7    5    96   41    72
650               Ivica Zubac   C  LAC   22   82   16   66   596  236   385

[651 rows x 10 columns]

In [10]:
psycopg2.connect(f"dbname=basketball user=postgres host=localhost password={Password} port=5433")

In [15]:
engine = create_engine(f"postgresql+psycopg2://postgres:{Password}@localhost:5433/EmployeeSQL")
conn = engine.connect()
conn

In [18]:
ballers = pd.read_sql('select * from "salary"', conn)
ballers

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "salary" does not exist
LINE 1: select * from "salary"
                      ^

[SQL: select * from "salary"]
(Background on this error at: http://sqlalche.me/e/13/f405)