In [1]:
import pandas as pd
import numpy as np
from config import Password
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
contract_data = pd.read_csv("Resources/nba_salaries2019.csv")
print(contract_data)

      Rk             Player   Tm       2019-20       2020-21       2021-22  \
0      1      Stephen Curry  GSW  $40,231,758   $43,006,362   $45,780,966
1      2         Chris Paul  OKC  $38,506,482   $41,358,814   $44,211,146
2      3  Russell Westbrook  HOU  $38,178,000   $41,006,000   $43,848,000
3      4          John Wall  WAS  $37,800,000   $40,824,000   $43,848,000
4      5       James Harden  HOU  $37,800,000   $40,824,000   $43,848,000
..   ...                ...  ...           ...           ...           ...
563  564     William Howard  UTA      $50,000            NaN           NaN
564  565      Isaiah Taylor  TOR      $50,000            NaN           NaN
565  566        Tyler Lydon  SAC      $50,000            NaN           NaN
566  567    Hollis Thompson  SAC      $50,000            NaN           NaN
567  568         Tyler Ulis  SAC      $50,000            NaN           NaN

          2022-23 2023-24 2024-25 Signed Using     Guaranteed
0             NaN     NaN     NaN  Bird Rights  $129,019,086
1             NaN     NaN     NaN  Bird Rights   $79,865,296
2    $46,662,000      NaN     NaN  Bird Rights  $123,032,000
3    $46,872,000      NaN     NaN  Bird Rights  $122,472,000
4    $46,872,000      NaN     NaN  Bird Rights  $122,472,000
..            ...     ...     ...          ...            ...
563           NaN     NaN     NaN          NaN       $50,000
564           NaN     NaN     NaN          NaN       $50,000
565           NaN     NaN     NaN          NaN       $50,000
566           NaN     NaN     NaN          NaN       $50,000
567           NaN     NaN     NaN          NaN       $50,000

[568 rows x 11 columns]

In [3]:
player_contract = contract_data[["Player", "Tm", "2019-20"]]
player_contract

                Player   Tm       2019-20
0        Stephen Curry  GSW  $40,231,758
1           Chris Paul  OKC  $38,506,482
2    Russell Westbrook  HOU  $38,178,000
3            John Wall  WAS  $37,800,000
4         James Harden  HOU  $37,800,000
..                 ...  ...           ...
563     William Howard  UTA      $50,000
564      Isaiah Taylor  TOR      $50,000
565        Tyler Lydon  SAC      $50,000
566    Hollis Thompson  SAC      $50,000
567         Tyler Ulis  SAC      $50,000

[568 rows x 3 columns]

In [4]:
player_contract.rename(columns={"2019-20": "Yr2019_20"}, inplace=True)
player_contract

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                Player   Tm     Yr2019_20
0        Stephen Curry  GSW  $40,231,758
1           Chris Paul  OKC  $38,506,482
2    Russell Westbrook  HOU  $38,178,000
3            John Wall  WAS  $37,800,000
4         James Harden  HOU  $37,800,000
..                 ...  ...           ...
563     William Howard  UTA      $50,000
564      Isaiah Taylor  TOR      $50,000
565        Tyler Lydon  SAC      $50,000
566    Hollis Thompson  SAC      $50,000
567         Tyler Ulis  SAC      $50,000

[568 rows x 3 columns]

In [5]:
player_contract.to_csv("Resources/Salary_clean.csv")

In [6]:
player_data = pd.read_csv("Resources/player_stats.csv")

player_data

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander,PF,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,525,Trae Young,PG,21,ATL,60,60,2120,546,1249,...,0.860,32,223,255,560,65,8,289,104,1778
647,526,Cody Zeller,C,27,CHO,58,39,1341,251,479,...,0.682,160,251,411,88,40,25,75,140,642
648,527,Tyler Zeller,C,30,SAS,2,0,4,1,4,...,NaN,3,1,4,0,0,0,0,0,2
649,528,Ante Å½iÅ¾iÄ‡,C,23,CLE,22,0,221,41,72,...,0.737,18,48,66,6,7,5,10,27,96
650,529,Ivica Zubac,C,22,LAC,72,70,1326,236,385,...,0.747,197,346,543,82,16,66,61,168,596

In [7]:
player_data.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [8]:
player_stats = player_data[["Player", "Pos", "Tm","Age","AST", "STL", "G","BLK", "PTS", "FG", "FGA", "MP"]]
player_stats.to_csv("Resources/stat2019_clean.csv")

In [9]:
player_stats

,Player,Pos,Tm,Age,AST,STL,G,BLK,PTS,FG,FGA,MP
0,Steven Adams,C,OKC,26,146,51,63,67,684,283,478,1680
1,Bam Adebayo,PF,MIA,22,368,82,72,93,1146,440,790,2417
2,LaMarcus Aldridge,C,SAS,34,129,36,53,87,1001,391,793,1754
3,Kyle Alexander,PF,MIA,23,0,0,2,0,2,1,2,13
4,Nickeil Alexander-Walker,SG,NOP,21,89,17,47,8,267,98,266,591
...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,PG,ATL,21,560,65,60,8,1778,546,1249,2120
647,Cody Zeller,C,CHO,27,88,40,58,25,642,251,479,1341
648,Tyler Zeller,C,SAS,30,0,0,2,0,2,1,4,4
649,Ante Å½iÅ¾iÄ‡,C,CLE,23,6,7,22,5,96,41,72,221
650,Ivica Zubac,C,LAC,22,82,16,72,66,596,236,385,1326

In [10]:
psycopg2.connect(f"dbname=basketball user=postgres host=localhost password={Password} port=5433")

In [11]:
engine = create_engine(f"postgresql+psycopg2://postgres:{Password}@localhost:5433/basketball")
conn = engine.connect()
conn

In [12]:
ballers = pd.read_sql('select * from "salary"', conn)
ballers

                 player   tm   yr2019_20
0         Stephen Curry  GSW  40231758.0
1            Chris Paul  OKC  38506482.0
2     Russell Westbrook  HOU  38178000.0
3             John Wall  WAS  37800000.0
4          James Harden  HOU  37800000.0
...                 ...  ...         ...
1131     William Howard  UTA     50000.0
1132      Isaiah Taylor  TOR     50000.0
1133        Tyler Lydon  SAC     50000.0
1134    Hollis Thompson  SAC     50000.0
1135         Tyler Ulis  SAC     50000.0

[1136 rows x 3 columns]

In [13]:
# ballers['yr2019_20'] = ballers['yr2019_20'].map('${:,.2f}'.format)
# ballers

In [14]:
pstats = pd.read_sql('select * from "stats"', conn)
pstats

,player,pos,tm,age,ast,stl,g,blk,pts,fg,fga,mp
0,Steven Adams,C,OKC,26,146,51,63,67,684,283,478,1680
1,Bam Adebayo,PF,MIA,22,368,82,72,93,1146,440,790,2417
2,LaMarcus Aldridge,C,SAS,34,129,36,53,87,1001,391,793,1754
3,Kyle Alexander,PF,MIA,23,0,0,2,0,2,1,2,13
4,Nickeil Alexander-Walker,SG,NOP,21,89,17,47,8,267,98,266,591
...,...,...,...,...,...,...,...,...,...,...,...,...
646,Trae Young,PG,ATL,21,560,65,60,8,1778,546,1249,2120
647,Cody Zeller,C,CHO,27,88,40,58,25,642,251,479,1341
648,Tyler Zeller,C,SAS,30,0,0,2,0,2,1,4,4
649,Ante Å½iÅ¾iÄ‡,C,CLE,23,6,7,22,5,96,41,72,221
650,Ivica Zubac,C,LAC,22,82,16,72,66,596,236,385,1326

In [15]:
nba_sal = pd.read_sql("select stats.player, stats.tm, stats.pos, stats.pts, salary.yr2019_20 from stats LEFT JOIN salary on stats.player=salary.player", conn)
nba_sal

                     player   tm pos   pts   yr2019_20
0             Stephen Curry  GSW  PG   104  40231758.0
1                Chris Paul  OKC  PG  1232  38506482.0
2         Russell Westbrook  HOU  PG  1553  38178000.0
3              James Harden  HOU  SG  2335  37800000.0
4              LeBron James  LAL  PG  1698  37436858.0
...                     ...  ...  ..   ...         ...
1399      Derrick Jones Jr.  MIA  SF   500         NaN
1400  Justin Wright-Foreman  UTA  PG    19         NaN
1401            Moses Brown  POR   C    11         NaN
1402         Zylan Cheatham  NOP  SF    12         NaN
1403         Troy Brown Jr.  WAS  SG   716         NaN

[1404 rows x 5 columns]

In [16]:
#Drop duplicate player instances
nba_sal_clean=nba_sal.drop_duplicates(subset='player', keep="first")
nba_sal_clean

                     player   tm pos   pts   yr2019_20
0             Stephen Curry  GSW  PG   104  40231758.0
1                Chris Paul  OKC  PG  1232  38506482.0
2         Russell Westbrook  HOU  PG  1553  38178000.0
3              James Harden  HOU  SG  2335  37800000.0
4              LeBron James  LAL  PG  1698  37436858.0
...                     ...  ...  ..   ...         ...
1399      Derrick Jones Jr.  MIA  SF   500         NaN
1400  Justin Wright-Foreman  UTA  PG    19         NaN
1401            Moses Brown  POR   C    11         NaN
1402         Zylan Cheatham  NOP  SF    12         NaN
1403         Troy Brown Jr.  WAS  SG   716         NaN

[529 rows x 5 columns]

In [17]:
#Top 10 highest paid players in the NBA
top_ten = nba_sal_clean.sort_values(by="yr2019_20",ascending = False).head(10)
top_ten

              player   tm pos   pts   yr2019_20
0      Stephen Curry  GSW  PG   104  40231758.0
1         Chris Paul  OKC  PG  1232  38506482.0
2  Russell Westbrook  HOU  PG  1553  38178000.0
3       James Harden  HOU  SG  2335  37800000.0
4       LeBron James  LAL  PG  1698  37436858.0
5      Blake Griffin  DET  PF   279  34234964.0
6         Kyle Lowry  TOR  PG  1126  33296296.0
7        Paul George  LAC  SF  1033  33005556.0
8       Jimmy Butler  MIA  SF  1157  32742000.0
9       Kemba Walker  BOS  PG  1145  32742000.0

In [18]:
#Add column for Average cost per point
nba_sal_clean["avg_cost_per_pt"]=nba_sal_clean["yr2019_20"]/nba_sal_clean["pts"]
nba_sal_clean

<ipython-input-18-b79edaa8e7da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_sal_clean["avg_cost_per_pt"]=nba_sal_clean["yr2019_20"]/nba_sal_clean["pts"]

                     player   tm pos   pts   yr2019_20  avg_cost_per_pt
0             Stephen Curry  GSW  PG   104  40231758.0    386843.826923
1                Chris Paul  OKC  PG  1232  38506482.0     31255.261364
2         Russell Westbrook  HOU  PG  1553  38178000.0     24583.386993
3              James Harden  HOU  SG  2335  37800000.0     16188.436831
4              LeBron James  LAL  PG  1698  37436858.0     22047.619552
...                     ...  ...  ..   ...         ...              ...
1399      Derrick Jones Jr.  MIA  SF   500         NaN              NaN
1400  Justin Wright-Foreman  UTA  PG    19         NaN              NaN
1401            Moses Brown  POR   C    11         NaN              NaN
1402         Zylan Cheatham  NOP  SF    12         NaN              NaN
1403         Troy Brown Jr.  WAS  SG   716         NaN              NaN

[529 rows x 6 columns]

In [19]:
#Average cost by position

avg_cost_bypos = nba_sal_clean.groupby("pos")
avg_cost_bypos_total = avg_cost_bypos.sum().reset_index()
avg_cost_bypos_total = avg_cost_bypos_total.drop("avg_cost_per_pt",axis=1)
avg_cost_bypos_total["avg_cost_per_pt"]=avg_cost_bypos_total["yr2019_20"]/avg_cost_bypos_total["pts"]
avg_cost_bypos_total
# avg_cost_byposclean=avg_cost_bypos_total.loc[(avg_cost_bypos_total["pos"]=="C-PF")|(avg_cost_bypos_total["pos"]=="PF-C")|(avg_cost_bypos_total["pos"]=="PG")|(avg_cost_bypos_total["pos"]=="SF-PF")|(avg_cost_bypos_total["pos"]=="SF-SG")]
# avg_cost_byposclean

  pos    pts    yr2019_20  avg_cost_per_pt
0   C  39512  778374723.0     19699.704470
1  PF  42869  638491923.0     14894.024190
2  PG  46138  769026146.0     16667.955828
3  SF  33865  547066188.0     16154.324169
4  SG  59837  735171847.0     12286.241740

In [21]:
nba_sal = pd.read_sql("select stats.player, stats.tm, stats.pos, stats.pts,stats.g, stats.mp, salary.yr2019_20 from stats LEFT JOIN salary on stats.player=salary.player", conn)
nba_sal

                     player   tm pos   pts   g    mp   yr2019_20
0             Stephen Curry  GSW  PG   104   5   139  40231758.0
1                Chris Paul  OKC  PG  1232  70  2208  38506482.0
2         Russell Westbrook  HOU  PG  1553  57  2049  38178000.0
3              James Harden  HOU  SG  2335  68  2483  37800000.0
4              LeBron James  LAL  PG  1698  67  2316  37436858.0
...                     ...  ...  ..   ...  ..   ...         ...
1399      Derrick Jones Jr.  MIA  SF   500  59  1375         NaN
1400  Justin Wright-Foreman  UTA  PG    19   4    45         NaN
1401            Moses Brown  POR   C    11   9    33         NaN
1402         Zylan Cheatham  NOP  SF    12   4    51         NaN
1403         Troy Brown Jr.  WAS  SG   716  69  1782         NaN

[1404 rows x 7 columns]

In [22]:
nba_sal["yr2019_20"].apply(float)

0       40231758.0
1       38506482.0
2       38178000.0
3       37800000.0
4       37436858.0
           ...
1399           NaN
1400           NaN
1401           NaN
1402           NaN
1403           NaN
Name: yr2019_20, Length: 1404, dtype: float64

In [23]:
nba_sal['yr2019_20'] = nba_sal['yr2019_20'].map('${:,.2f}'.format)
nba_sal

                     player   tm pos   pts   g    mp       yr2019_20
0             Stephen Curry  GSW  PG   104   5   139  $40,231,758.00
1                Chris Paul  OKC  PG  1232  70  2208  $38,506,482.00
2         Russell Westbrook  HOU  PG  1553  57  2049  $38,178,000.00
3              James Harden  HOU  SG  2335  68  2483  $37,800,000.00
4              LeBron James  LAL  PG  1698  67  2316  $37,436,858.00
...                     ...  ...  ..   ...  ..   ...             ...
1399      Derrick Jones Jr.  MIA  SF   500  59  1375            $nan
1400  Justin Wright-Foreman  UTA  PG    19   4    45            $nan
1401            Moses Brown  POR   C    11   9    33            $nan
1402         Zylan Cheatham  NOP  SF    12   4    51            $nan
1403         Troy Brown Jr.  WAS  SG   716  69  1782            $nan

[1404 rows x 7 columns]